altgraph==0.17.4
requests>=2.32.3
certifi>=2024.7.4
cffi>=1.17.0
charset-normalizer>=3.3.2
chardet==5.2.0
colorama==0.4.6
cryptography>=43.0.0
idna>=3.7
macholib==1.16.3
nassl>=5.2.0
ocsp-checker>=1.9.13
packaging==24.1
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
urllib3>=2.2.2
x509>=0.1
setuptools>=72.1.0
wheel>=0.43.0
chardet>=5.2.0
